
        <?php include $view->scriptFile(); ?>

      </section> <!-- end: Main section -->

      <footer id="page-footer">
        C. Moller (<a href="mailto:xavier.tnc@gmail.com">xavier.tnc@gmail.com</a>)

        <span class="pull-right">
          &copy; 2018 - <?= date('Y') ?>
        </span>
      </footer>

    </div> <!-- end: Page container -->

    <script src="js/vendors/jquery-3.4.1.min.js"></script>
    <script src="js/vendors/onefile/back2top.js"></script>
    <script src="js/vendors/onefile/alerts.js"></script>
    <script src="js/vendors/onefile/modal.js"></script>
    <script src="js/vendors/onefile/tabs.js"></script>
    <script src="js/vendors/onefile/pjax.js"></script>
    <script src="js/main.js"></script>

  </body>

</html>