/* Page Styles Go Here... */
h3 { color: red; }
small { color: silver; }
.error-container { padding: 1em; }
.error { 
  font-family: arial, verdana, sans-serif;
  max-width: 320px;
  margin: 1.5em auto;
}